@import "tailwindcss";

/* Based Set-up */
@layer base{
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Plus Jakarta Sans', 'Inter';
      scroll-behavior: smooth;
  }

  @keyframes fade-up {
    from{
      transform: translateY(40%);
      opacity: 0%;
    }

    to{
      transform: translateY(0%);
      opacity: 100%;
    }
  }
  
  @keyframes fade-top {
    from{
      transform: translateY(0%);
      opacity: 100%;
    }

    to{
      transform: translateY(-40%);
      opacity: 0%;
    }
  }
}

/* Templating */
@theme{
    --color-primary: #2E8B57;
    --color-secondary: #FFD54F;
    --color-primary-text: #1F2937;
    --color-neutral: #F9FAFB;
    --color-navigation: #0B0D14;
    --color-accent: #FF7043;

    --font-pj-sans-extralight: 'PJ Sans ExtraLight', sans-serif;
    --font-pj-sans-light: 'PJ Sans Light', sans-serif;
    --font-pj-sans-regular: 'PJ Sans', sans-serif;
    --font-pj-sans-medium: 'PJ Sans Medium', sans-serif;
    --font-pj-sans-semibold: 'PJ Sans SemiBold', sans-serif;
    --font-pj-sans-bold: 'PJ Sans Bold', sans-serif;
    --font-pj-sans-extrabold: 'PJ Sans ExtraBold', sans-serif;

    --font-inter-extralight: 'Inter ExtraLight', sans-serif;
    --font-inter-light: 'Inter Light', sans-serif;
    --font-inter-regular: 'Inter', sans-serif;
    --font-inter-medium: 'Inter Medium', sans-serif;
    --font-inter-semibold: 'Inter SemiBold', sans-serif;
    --font-inter-bold: 'Inter Bold', sans-serif;
    --font-inter-extrabold: 'Inter ExtraBold', sans-serif;
    --font-inter-black: 'Inter Black', sans-serif;
}

/* Font Plus Jakarta Sans */
@font-face {
  font-family: 'PJ Sans ExtraLight';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans Light';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans Medium';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans SemiBold';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans Bold';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'PJ Sans ExtraBold';
  src: url(../../assets/fonts/Jakarta-Sans/PlusJakartaSans-ExtraBold.ttf) format('truetype');
}

/* Font Inter */
@font-face {
  font-family: 'Inter ExtraLight';
  src: url(../../assets/fonts/inter/Inter-ExtraLight-BETA.otf) format('truetype');
}

@font-face {
  font-family: 'Inter Light';
  src: url(../../assets/fonts/inter/Inter-Light-BETA.otf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url(../../assets/fonts/inter/Inter-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'Inter Medium';
  src: url(../../assets/fonts/inter/Inter-Medium.otf) format('truetype');
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url(../../assets/fonts/inter/Inter-SemiBold.otf) format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  src: url(../../assets/fonts/inter/Inter-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'Inter ExtraBold';
  src: url(../../assets/fonts/inter/Inter-ExtraBold.otf) format('truetype');
}

@font-face {
  font-family: 'Inter Black';
  src: url(../../assets/fonts/inter/Inter-Black.otf) format('truetype');
}

/* Font Size */
@utility font-semibold{
    font-weight: 600;
}

/* Hide Scrollbar */
@utility scrollbar-none{
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility show-model{
  animation: fade-up 300ms ease-in-out forwards;
}

@utility hide-model{
  animation: fade-top 300ms ease-in-out forwards;
}

.hero-bg {
  background-image: url(../../assets/images/hero-background-image.png);
}

.first-news {
  background-image: url(../assets/images/first-news.png)
}

.second-news {
  background-image: url(../assets/images/second-news.png)
}

.third-news {
  background-image: url(../assets/images/third-news.png)
}

.fourth-news {
  background-image: url(../assets/images/fourth-news.png)
}